<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
      <%- include('../common/imports') %>
    <style>
      header{
        background-image: url("<%= location.header %>");
      }

    </style>
  </head>
  <body>
    <%- include('../common/navbar', { page : '/location'}) %>

    <center>
      <h1>Photos of <%= location.name %></h1>
    </center>
    <section class="two-sided">
      <article>

      </article>

      <aside>
        <div class="card">
          <a href="/location/<%=location.id%>/">
            <div class="card-header">
              <center><img src="/public/imgs/location.svg"></img></center>
            </div>
            <div class="card-text">
              <h5>Back to location
            </div>
          </a>
        </div>

        <div class="card">
          <a href="/location/<%=location.id%>/services">
            <div class="card-header">
              <center><img src="/public/imgs/service.svg"></img></center>
            </div>
            <div class="card-text">
              <h5>Available services
            </div>
          </a>
        </div>

        <div class="card">
          <a href="/location/<%=location.id%>/how-to-get-there">
            <div class="card-header">
              <center><img src="/public/imgs/maps.svg"></img></center>
            </div>
            <div class="card-text">
              <h5>How to get here
            </div>
          </a>
        </div>

      </aside>

    </section>
    <%- include('../common/footer') %>
  </body>
</html>
