<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
      <%- include('../common/imports') %>
    <style>
      header{
        background-image: url("/public/imgs/locations/Aeroporto.jpg");
      }

    </style>
  </head>
  <body>
    <%- include('../common/navbar', { page : '/location'}) %>
    <header class="location">
    </header>
    <center>
      <h1>How to get to <%= location.name %></h1>
    </center>
    <section class="two-sided">
      <article>

        <!-- SHORT DESCRIPTION -->
        <div>
          <h2>Description</h2>
          <h4><img src='/public/imgs/car.png' width="64px"> By car</h4>
          <p>
            <%=htgt.car%>
          </p>
          <h4><img src='/public/imgs/bus.png' width="64px"> By bus</h4>
          <p>
            <%=htgt.bus%>
          </p>
          <h4><img src='/public/imgs/tube.png' width="64px"> By tube</h4>
          <p>
            <%=htgt.tube%>
          </p>
          <h4><img src='/public/imgs/sub.png' width="64px"> By sub</h4>
          <p>
            Maybe you need to go deeper? 
          </p>
        </div>
      </article>

      <aside>
        <div class="imagecard">
          <a href="/location/<%=location.id%>/">
            <div class="imagecard_header" style="background-color:rgba(187, 120, 36, 0.1) ">
              <center><img src="/public/imgs/location.png" style="color:#BB7824" width="100%"></img></center>
            </div>
            <div class="imagecard_title">
              <h5>Back to location
            </div>
          </a>
        </div>

        <div class="imagecard">
          <a href="/location/<%=location.id%>/services">
            <div class="imagecard_header" style="background-color:rgba(187, 120, 36, 0.1) ">
              <center><img src="/public/imgs/service.png" style="color:#BB7824" width="100%"></img></center>
            </div>
            <div class="imagecard_title">
              <h5>Available services
            </div>
          </a>
        </div>

        <div class="imagecard">
          <a href="/location/<%=location.id%>/gallery">
            <div class="imagecard_header" style="background-color:rgba(187, 120, 36, 0.1) ">
              <center><img src="/public/imgs/gallery.png" style="color:#BB7824" width="100%"></img></center>
            </div>
            <div class="imagecard_title">
              <h5>Photo gallery
            </div>
          </a>
        </div>

      </aside>

    </section>

    <div class="main-content">
      <section>
        <section>
          <article>
            <h1>How to get there</h1>
            <ul>
                <li><p><b>Underground</b>. The nearest stop is Conciliazione (Line 1 - red). If you arrive in Milano Centrale Railway Station, take the underground line 2 (green) for Abbiategrasso, then change line at Cadorna FN M1 stop. Here you can travel with M1 (Bisceglie direction) up to Conciliazione</p></li>
                <li><p><b>Bus</b>. Take the bus N. 91 to "Lotto (Fieramilanocity)" from P.za Luigi Di Savoia. Leave the bus at P.za Stuparich stop (around 30 minutes). Then, from Via Albani P.za Stuparich take the bus n.68 to "Via Bergognone" and leave the bus at the "Conciliazione M1" stop (around 15 minutes)</p></li>
                <li><p><b>Train.</b> From Milano Centrale Railway Station go to Repubblica. Then, take the S13 suburban train to \"Bovisa\". At Milano Bovisa station (around 15 minutes) take the train R17 to Milano Nord Cadorna station (around 7 minutes). Once you'll be arrived in Milano Cadorna Station walk for 500 meters and you'll be arrived.</p></li>
            </ul>
          </article>
        </section>

        <aside>
          <section>
            <a class="button" href="/location/<%= location.id %>">Position & Timetable</a>
            <a class="button" href="/location/<%= location.id %>/gallery">Gallery</a>
            <a class="button" href="/location/<%= location.id %>/available-services">Available Services</a>
          </section>
        </aside>
      </section>
    </div>
    <%- include('../common/footer') %>
  </body>
</html>
