<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
      <%- include('../common/imports') %>
    <style>
      header{
        background-image: url("/public/imgs/locations/Aeroporto.jpg");
      }

    </style>
  </head>
  <body>
    <%- include('../common/navbar', { page : '/location', user:user}) %>
    <header class="location">
    </header>
    <center>
      <h1>How to get to <%= location.name %></h1>
    </center>
    <section class="two-sided" id="content">
      <article>

        <!-- SHORT DESCRIPTION -->
        <div>
          <h2>Transportations</h2>
          <p>We chose our locations in order to be reached easily by every one.</p>
          <% if(htgt.ways.length > 0) { %>
          <p>You can reach <%= location.name %> in these ways:</p>
          <% htgt.ways.forEach(function(way) { %>
          <div>
            <h4><img src='/public/imgs/<%= way.kind %>.png' width="32px">By <%= way.kind %></h4>
            <p>
              <%= way.info %>
            </p>
          </div>
          <% })
          } else { %>
        <p>No available informations about directions for this location</p>    
        <% } %>
        <div>
          <h2>Need more precise informations?</h2>
          <p><a href="<%= htgt.gMapsDicrectionsURL %>" target="_blank">Check on Google Maps</a> or just <a href="/location/<%= location.id %>#contacts">contact us.</a></p>
        </div>
      </article>

      <%- include('sidebar', { page : 'htgt'}) %>

    </section>
<!--
    <div class="one-sided" id="content">
      <section>
        <section>
          <article>
            <h1>How to get there</h1>
            <ul>
                <li><p><b>Underground</b>. </p></li>
                <li><p><b>Bus</b>. </p></li>
                <li><p><b>Train.</b> From Milano Centrale Railway Station go to Repubblica. Then, take the S13 suburban train to \"Bovisa\". At Milano Bovisa station (around 15 minutes) take the train R17 to Milano Nord Cadorna station (around 7 minutes). Once you'll be arrived in Milano Cadorna Station walk for 500 meters and you'll be arrived.</p></li>
            </ul>
          </article>
        </section>

        <aside>
          <section>
            <a class="button" href="/location/<%= location.id %>">Position & Timetable</a>
            <a class="button" href="/location/<%= location.id %>/gallery">Gallery</a>
            <a class="button" href="/location/<%= location.id %>/available-services">Available Services</a>
          </section>
        </aside>
      </section>
    </div>
    -->
    <%- include('../common/footer') %>
  </body>
</html>
