<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
      <%- include('../common/imports') %>
  </head>
  <body>
    <%- include('../common/navbar', { page : '/location'}) %>
    <div class="main-content">
      <h1><%= title %></h1>
      <section>
        <div class="locations">
          <% locations.forEach((location) => { %>
            <div class="location">
              <a href="/location/<%= location.id %>"><%= location.name %></a>
            </div>
          <% }); %>
        </div>
      </section>
    </div>
    <%- include('../common/footer') %>
  </body>
</html>