<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
      <%- include('../common/imports') %>
  </head>
  <body>
    <%- include('../common/navbar', { page : '/location'}) %>

    <div class="container-fluid">

      <h1><%= title %></h1>

      <section class="list-lg">
        <% locations.forEach((location) => { %>
          <article>
            <div class="card">
              <a href="/location/<%= location.id %>">
                <img class="card-image" src="<%= location.header %>"/>
                <h3 class="card-text"><%= location.name %></h3>
              </a>
            </div>
          </article>
        <% }); %>
      </section>

    </div>
    <%- include('../common/footer') %>
  </body>
</html>
