<!DOCTYPE html>
<html>
  <head>
    <%- include('../common/imports') %>
    <link rel="stylesheet" href="/public/stylesheets/doctors-search.css"/>
    <script src="/public/javascripts/doctors-search.js"></script>
    <!-- Select2 selectors -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

    <title><%= title %></title>

  </head>
  <body>
    <%- include('../common/navbar', { page : '/doctors', user:user}) %>

    <div class="container-fluid" id='content'>

      <center>
        <h1>Our Doctors</h1>
      </center>

      <!-- Leave inline width for Select2 Responsiveness -->
      <section class="selectors">
        <div class="selector">
          <select id='location-selector' style="width:100%">
            <option></option>
            <% locations.forEach((location) => { %>
              <option value="<%=location.id%>"><%=location.name%></option>
            <% }); %>
          </select>
        </div>
        <div class="selector">
          <select id='area-selector' style="width:100%">
            <option></option>
            <% areas.forEach((area) => { %>
              <option value="<%=area.id%>"><%=area.name%></option>
            <% }); %>
          </select>
        </div>
        <div class="selector">
          <select id='service-selector' style="width:100%">
            <option></option>
            <% services.forEach((service) => { %>
              <option value="<%=service.id%>"><%=service.name%></option>
            <% }); %>
          </select>
        </div>
      </section>

      <div class="container-fluid" id='doctors-list'>
        <!-- Inject doctors here -->
        <article>
          <div class="card">
              <a href="/doctor">
              <center><img src="/public/imgs/doctors/doctor1.jpg"></img></center>
              <div class="card-text">
                  <h5>Something</h5>
              </div>
              </a>
          </div>
        </article>
      </div>

    </div>

    <%- include('../common/footer') %>
  </body>
</html>
