<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
      <%- include('../common/imports') %>

      <style>
        header{
          background-image: url("/public/imgs/bg/hallway.jpg");
        }

      </style>
  </head>
  <body>
        <%- include('../common/navbar', { page : '/doctor', user:user}) %>

      <header class="doctor">
        <div class="profile">
          <img src="<%=doctor.icon%>" alt="doctor-image"/>
        </div>
      </header>

      <section class="two-sided doctor" id="content">
        <center>
          <h1><%=doctor.fullname%></h1>
          <h4><%=doctor.position%></h4>
        </center>
        <article>
          <!-- DOCTOR CURRICULUM -->
          <div>
            <h2>About me</h2>
            <p><%=doctor.description%></p>
          </div>
          <!-- DOCTOR TIMETABLE -->
          <div>
            <h2>Where you can find me</h2>
            <p>
              <table class="table">
                <thead>
                  <tr>
                    <th>Day</th>
                    <th>Time</th>
                    <th>Location</th>
                  </tr>
                </thead>
                <tbody>
                  <% var i; for(var i=0; i<7; i++) { if(timetables[i] != null) { %>
                  <tr>
                    <td data-title="Day"><%= timetables[i].day %></td>
                    <td data-title="Time"><%= timetables[i].opening_time %> - <%= timetables[i].closing_time %></td>
                    <td data-title="Location"><a href="/location/<%= timetables[i].location.id %>"><%= timetables[i].location.name %></a></td>
                  </tr>
                  <% } } %>
                </tbody>
              </table>
            </p>
          </div>
          <!-- CONTACTS -->
          <div>
            <h2>Contacts</h2>
              <p>Email: <%=doctor.email%></p>
              <p>Phone: <a href="tell:<%=doctor.phone%>"><span class="glyphicon glyphicon-earphone"/><%=doctor.phone%></a></p>
          </div>
        </article>

        <aside>
          <div class="card">
            <a href="/service/<%= doctor.service.id %>">
              <div class="card-header">
                <center><img src="/public/imgs/service.svg" class="card-image"></img></center>
              </div>
              <div class="card-text">
                <h5>Doctor's service: <%= doctor.service.name %></h5>
              </div>
            </a>
          </div>

          <% if(doctor.area_responsible != null) { %>
          <div class="card">
            <a href="/area/<%= doctor.area_responsible.id %>">
              <div class="card-header">
                <center><img src="<%= doctor.area_responsible.icon %>" class="card-image"></img></center>
              </div>
              <div class="card-text">
                <h5>Responsible of <%= doctor.area_responsible.name %> Area</h5>
              </div>
            </a>
          </div>
          <% } %>

          <% if(doctor.service_responsible != null) { %>
          <div class="card">
            <a href="/service/<%= doctor.service_responsible.id %>">
              <div class="card-header">
              <img class="card-image" src="/public/imgs/record.svg"/>
              </div>
              <h5 class="card-text">Responsible of <%= doctor.service_responsible.name %></h5>
            </a>
          </div>
          <% } %>

        </aside>
      </section>

    <%- include('../common/footer') %>
  </body>
</html>
