<% console.log(doctor); %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
      <%- include('../common/imports') %>

      <style>
        header{
          background-image: url("/public/imgs/bg/doctor.jpg");
        }

      </style>
  </head>
  <body>
        <%- include('../common/navbar', { page : '/doctor', user:user}) %>

      <header class="doctor">
        <!-- immagine -->
        <div>
          <img src="<%=doctor.icon%>" height="300" width="190" alt="doctor-image" />
        </div>
        <div>
          <h1><%=doctor.fullname%></h1>
          <h3><%=doctor.position%></h3>
          <h3><%=doctor.email%></h3>
          <h3><%=doctor.phone%></h3>
        </div>
      </header>

      <section class="two-sided" id="content">
        <article>
          <!-- DOCTOR CURRICULUM -->
          <div>
            <h2>About <%=doctor.fullname%></h2>
              <p><%=doctor.description%></p>
          </div>
          <!-- DOCTOR TIMETABLE -->
          <div>
            <h2>Where you can find me</h2>
            <p>
              <table class="table">
                <thead>
                  <tr>
                    <th>Day</th>
                    <th>Time</th>
                    <th>Location</th>
                  </tr>
                </thead>
                <tbody>
                  <% var i; for(var i=0; i<7; i++) { if(timetables[i] != null) { %>
                  <tr>
                    <td><%= timetables[i].day %></td>
                    <td><%= timetables[i].opening_time %> - <%= timetables[i].closing_time %></td>
                    <td><a href="/location/<%= timetables[i].location.id %>"><%= timetables[i].location.name %></a></td>
                  </tr>
                  <% } } %>
                </tbody>
              </table>
            </p>
          </div>
        </article>

        <aside>
          <div class="card">
            <a href="/service/doctor/<%=doctor.id%>">
              <div class="card_header" style="background-color:rgba(187, 120, 36, 0.1) ">
                <center><img src="/public/imgs/service.svg" style="color:#BB7824" width="100%"></img></center>
              </div>
              <div class="card-text">
                <h5>Doctor's service</h5>
              </div>
            </a>
          </div>

          <% if(doctor.area_responsible != null) { %>
          <div class="card">
            <a href="/area/<%= doctor.area_responsible.id %>">
              <div class="card_header">
                <center><img src="<%= doctor.area_responsible.icon %>"></img></center>
              </div>
              <div class="card-text">
                <h5>Responsible of <%= doctor.area_responsible.name %> Area</h5>
              </div>
            </a>
          </div>
          <% } %>

          <% if(doctor.service_responsible != null) { %>
          <div class="card">
            <a href="/service/<%= doctor.service_responsible.id %>">
              <div class="card_header" style="background-color:rgba(187, 120, 36, 0.1) ">
                <center><img src="/public/imgs/boh.png" style="color:#BB7824" width="100%"></img></center>
              </div>
              <div class="card-text">
                <h5>Responsible of <%= doctor.service_responsible.name %></h5>
              </div>
            </a>
          </div>
          <% } %>

        </aside>
      </section>

    <%- include('../common/footer') %>
  </body>
</html>
