<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
    <%- include('common/imports') %>

  <style>
    header{
      background-image: url("/public/imgs/bg/doctor_phone.jpg");
    }
    #content{
      padding-bottom: 100px;
    }

  </style>

  <script type="text/javascript">

      $(document).ready(function (){
          $('form').submit(function(e) {
              $("#contact-form").empty().append("<div class='loading' style='transform:scale(0.31);'><div></div><div></div></div>");
              $.ajax({
                  type: "POST",
                  url: "/api/contact",
                  data: $(this).serialize(),
                  success: function(data)
                  {
                      $("#contact-form").empty().append(data.message);
                  }
              });
              e.preventDefault();
          });
      });


  </script>


</head>
<body>
<%- include('common/navbar', { page : '/service', user:user}) %>

<header>
</header>

  <section id="content" class="one-sided">
    <h3>Contacts</h3>
    <p>You'll find many ways to contact us right here:</p>
    <table>
      <thead>
        <tr>
          <th>Phone</th>
          <th>Mail</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody>
      <tr>
          <td data-title="Phone">3478395683</td>
          <td data-title="Mail">info@cpm.com</td>
          <td data-title="Address">Mah</td>
      </tr>
      </tbody>
    </table>


  <hr />
  <section>
      <div id="contact-form">
      <h1>Contact Form</h1>
      <form >
        <div>
          <label for="name">Nome</label>
          <input id="name" type="text" name="name" required placeholder="name">
        </div>
        <div>
          <label for="surname">Cognome</label>
          <input id="surname" type="text" name="surname" required placeholder="surname">
        </div>
        <div>
          <label for="phone">Telefono</label>
          <input id="phone" type="tel" name="phone" placeholder="phone" required>
        </div>
        <div>
          <label for="mail">Mail</label>
          <input id="mail" type="email" name="mail" placeholder="e-mail" required>
        </div>
        <div>
          <label for="target">Area target</label>
          <select id="target" name="target">
            <%areas.forEach((area) => {%>
            <option name="<%=area.name%>" value="<%=area.id%>"><%=area.name%></option>
            <%})%>
          </select>
        </div>
        <div>
        <label for="obj">Oggetto</label>
        <input id="obj" type="text" name="obj" required placeholder="name">
        </div>
        <div>
          <label for="text">Testo</label>
          <textarea id="message" name="message" placeholder="Write here..." required></textarea>
        </div>

        <div class="checkbox">
          <label>
            <input id="agree" name="agree" type="checkbox">Check me out
          </label>
        </div>
        <div>
          <input type="submit" value="Submit">
        </div>
      </form>
    </div>
    </section>
  </section>

<%- include('common/footer') %>
</body>
</html>