<!DOCTYPE html>
<html>
  <head>

    <title><%= title %></title>
      <%- include('common/imports') %>
      <!--<%var size = 3%>-->

      <!--<script>
        var currentPage;
        var serviceSelected;
        var areaSelected;
        var locationSelected;

        function loadValue() {
            var itemsSkipped = currentPage-1;
            itemsSkipped *= <%=size%>;

            $("#content").empty().append("<div class='loading' style='transform:scale(0.31);'><div></div><div></div></div>");

            var serviceRequest =  serviceSelected===-1 ? null : serviceSelected;
            var areaRequest =  areaSelected===-1 ? null : areaSelected;
            var locationRequest =  locationSelected===-1 ? null : locationSelected;

            $.getJSON("api/doctor",{ offset: itemsSkipped, limit:<%=size%>, service:serviceRequest, area:areaRequest, location:locationRequest }, function(result){

                var add="";
                $("#content").empty();
                $.each(result.data, function(index, element){
                    add+='<article class="card"><a href="">';
                    add+='<div class="card-header"><img class="card-image" src='+element.icon+'></div>';
                    add+='<h4>'+element.fullname+'</h4>'
                    add+='</a></article>';

                });

                $('#content').append(add);

                //navbar
                add="";
                var lMax = Math.ceil(result.count / <%=size%>);
                for (i=1;i<=lMax;i++)
                {
                    add+='<button type="button" class="btn btn-default" id="'+i+'">'+i+' </button>';
                }

                $('#pagination').empty().append(add);

            });
        }

        function generateUrl() {
            var params = new URLSearchParams();
            if (serviceSelected !== -1)
                params.append('service', serviceSelected);
            if (areaSelected !== -1)
                params.append('area', areaSelected);
            if (locationSelected !== -1)
                params.append('location', locationSelected);
            if (currentPage !== 1)
                params.append('page', currentPage);

            var newUrl = "";
            if (params.toString() !== "")
                newUrl = "?"+params.toString();

            window.history.pushState(null, null, newUrl);
        }

        function loadFromUrl()
        {
            params = new URLSearchParams(window.location.search);
            currentPage = (params.get("page")) ? params.get("page") : 1;
            locationSelected = params.get("location") ? Number(params.get("location")) : -1;
            serviceSelected = params.get("service") ? Number(params.get("service")) : -1;
            areaSelected = params.get("area") ? Number(params.get("area")) : -1;

            console.log($('#locations').val());
            $('#locations').val(locationSelected.toString());
            console.log($('#locations').val());
            $('#services').val(serviceSelected.toString());
            $('#areas').val(areaSelected.toString());
        }

        function newSelection(oldParam, newParam) {
            oldParam = Number(oldParam);
            newParam = Number(newParam);
            if (oldParam === newParam)
                return false;
            return true;
        }

        window.onpopstate = function(event) {
            loadFromUrl();
            loadValue();
        }


            $(document).ready(function (){

              loadFromUrl();
              loadValue();

              //On click
              $(document).delegate('button', 'click', function(e){
                  if (!newSelection(currentPage, event.target.id))
                      return;
                  currentPage = Number(event.target.id);
                  loadValue();
                  generateUrl();

              })

              $('#locations').on('change', function() {

                  if (!newSelection(locationSelected, this.value))
                      return;
                  locationSelected = Number(this.value);
                  loadValue();
                  generateUrl();
              })

              $('#areas').on('change', function() {

                  if (!newSelection(areaSelected, this.value))
                      return;
                  areaSelected = Number(this.value);
                  loadValue();
                  generateUrl();
              })

              $('#services').on('change', function() {

                  if (!newSelection(serviceSelected, this.value))
                      return;
                  serviceSelected = Number(this.value);
                  loadValue();
                  generateUrl();
              })

          });
      </script>-->


  </head>
  <body>
    <%- include('common/navbar', { page : '/doctors', user:user}) %>

    <div class="container-fluid" id='content'>

      <center>
        <h1>Our Doctors</h1>
      </center>

      <!--Locations:
      <select id="locations">
        <option value = "-1">Select Location</option>
        <% locations.forEach((location) => {%>
        <option value="<%= location.id%>"><%= location.name%></option>
        <%});%>
      </select>
      Areas:
      <select id="areas">
        <option value = "-1">Select Area</option>
          <% areas.forEach((area) => {%>
        <option value="<%= area.id%>"><%= area.name%></option>
          <%});%>
      </select>
      Service:
      <select id="services">
        <option value = "-1">Select Service</option>
          <% services.forEach((service) => {%>
        <option value="<%= service.id%>"><%= service.name%></option>
          <%});%>
      </select>-->

      <!--<section class="list-md">
        Hello
      </section>-->
    </div>

    <!--<div class="btn-group" role="group" id="pagination" aria-label="...">
    </div>-->

    <%- include('common/footer') %>
  </body>
</html>
