<!DOCTYPE html>
<html>
  <head>

    <style>
      header{
        background-image: url("/public/imgs/bg/doctor.jpg");
      }
    </style>

    <title><%= title %></title>
      <%- include('common/imports') %>
      <%var size = 3%>

      <script>
        var currentPage;
        function loadValue(page, service, area, location) {

            $("#content").empty().append("<div class='loading' style='transform:scale(0.31);'><div></div><div></div></div>");
            $.getJSON("api/doctor",{ offset: page, limit:<%=size%>, service:service, area:area, location:location }, function(result){

                var add="";
                $("#content").empty();
                $.each(result.data, function(index, element){
                    add+='<article class="card"><a href="">';
                    add+='<div class="card-header"><img class="card-image" src='+element.icon+'></div>';
                    add+='<h4>'+element.fullname+'</h4>'
                    add+='</a></article>';

                });

                $('#content').append(add);

                //navbar
                add="";
                var lMax = Math.ceil(result.count / <%=size%>);
                console.log(lMax);
                for (i=1;i<=lMax;i++)
                {
                    add+='<button type="button" class="btn btn-default" id="'+i+'">'+i+' </button>';
                }

                $('#pagination').empty().append(add);

            });
        }

          $(document).ready(function (){

              //Default loading
              params = new URLSearchParams(window.location.search);
              currentPage = (params.get("page")) ? params.get("page") : 0;
              loadValue(currentPage, params.get("service"), params.get("area"), params.get("location"));
              //On click
              $('button').click(function(e){

                  var pressed = (event.target.id)-1;
                  if (pressed == currentPage)
                  {
                      return;
                  }
                  //   var pressed = $(e.target).text();
                  currentPage = pressed;
                  loadValue(pressed);
                  pressed++;
                  window.history.pushState(null, null, "?page="+pressed);
              })
          });
      </script>


  </head>
  <body>
    <%- include('common/navbar', { page : '/doctors'}) %>


    <header>
      <h1>Doctors</h1>
    </header>

    <div class="container-fluid">
      <section id="content" class="list-md">
        <!-- LOAD JQUERY AJAX-->
      </section>
    </div>

    <div class="btn-group" role="group" id="pagination" aria-label="...">
    </div>

  </body>
</html>
