<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
      <%- include('common/imports') %>
  </head>
  <body>
    <%- include('common/navbar', { page : '/doctors'}) %>
    <% doctors.forEach((doctor) => { %>
      <p> <%= doctor.fullname %> </p>
      <p> <%= doctor.description %> </p>
    <%});%>
  </body>
</html>
