<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('common/imports') %>
  </head>
  <body>
    <%- include('common/navbar', { page : '/'}) %>
    <div class="main-content">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
      <%- include('common/carousel', {imgs : ["../public/imgs/img1.jpg", "../public/imgs/img2.png", "../public/imgs/img3.jpg"]}) %>

      <section>
        <h1 class="title">Welcome to CPM clinic website</h1>
      </section>

      <section class="services-widget">
        <h3 class="title">Our best services:</h3>
      </section>
      <%- include('common/slideset') %>

      <!--
            <div class="service">esempio</div>
        <div class="service">esempio</div>
        <div class="service">esempio</div>
        <div class="service">esempio</div>

      -->

      <section class="main-functions">
        <div>
          <a href="#" class="button" role="button">Explore the services</a>
          <a href="#" class="button" role="button">Explore the areas</a>
          <a href="#" class="button" role="button">Our locations</a>
        </div>
        <div>
          <a href="#" class="button" role="button">Our doctors</a>
          <a href="#" class="button" role="button">Contact us</a>
          <a href="#" class="button" role="button">Private area</a>
        </div>
      </section>

      <section>
        <h3>NEWS HERE</h3>
          <%- include('common/slideset') %>
      </section>
    </div>
    <%- include('common/footer') %>

  </body>
</html>
