<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
    <%- include('common/imports') %>

  <style>
    header{
      background-image: url("<%=service.header%>");
    }

  </style>
</head>
<body>
    <%- include('common/navbar', { page : '/doctor', user:user}) %>

  <header>
    <div>
      <h1><%=service.name%></h1>
    </div>
  </header>

    <div class="main-content">
      <section>
        <section>
          <article>
            <h1>Description</h1>
            <p><%=service.description%></p>
          </article>
          <article>
            <h1>Awards</h1>
            <p>TODO</p>
          </article>
        </section>

        <aside>
          <section>
            <a class="button" href="doctor/<%=service.responsible%>">Boh, dovrei scrivere il nome?</a>
          </section>
          <section>
            <a class="button" href="area/<%=service.areaId%>">Area</a>
          </section>
          <section>
            Le locations...
          </section>
        </aside>

      </section>
    </div>

<%- include('common/footer') %>
</body>
</html>
