<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>

  <link rel="stylesheet" href="/public/stylesheets/pickadate/default.css" />
  <link rel="stylesheet" href="/public/stylesheets/pickadate/default.date.css"/>
  <!-- app.css contiene il fix per il footer-->

    <%- include('../common/imports') %>

  <style>
    header{
      background-image: url('/public/imgs/bg/private.jpg');
    }
  </style>


  <script type="text/javascript" src="/public/javascripts/pickadate/picker.js"></script>
  <script type="text/javascript" src="/public/javascripts/pickadate/picker.date.js"></script>
  <script type="text/javascript" src="/public/javascripts/pickadate/legacy.js"></script>


  <script type="text/javascript" src="/public/javascripts/reservation.js"></script>

</head>
<body>
<%- include('../common/navbar', { page : '/private', user:user}) %>
<header>
</header>
<section class="two-sided" id="content">
  <center>
    <h1>Reserve your medical examination
    </h1>
  </center>
  <article id="booking-form" class="only-form">
    <form>
      <div>
        <label for="date">Date: </label>

        <input type="date" id="date" name="date" placeholder="Date" min="2014-05-11" required>
      </div>
      <div>
        <label for="hour">Hour:</label>
        <select id="hour" name="hour">
          <option value="early_morning">Early Morning</option>
          <option value="late_morning">Late Morning</option>
          <option value="lunch">Lunch</option>
          <option value="early_afternoon">Early Afternoon</option>
          <option value="late_afternoon">Late Afternoon</option>
        </select>
      </div>
      <div>
        <label for="service">Service</label>
        <select id="service" name="service" required>
          <option value="-1">Choose a service</option>
            <%services.forEach((service) => {%>
              <option value="<%=service.id%>"><%=service.name%></option>
            <%})%>
        </select>
      </div>
      <div>
        <label>Location</label>
        <select id="location" name="location" disabled required>
          <option>Choose a service before</option>
        </select>
      </div>
      <div>
        <input type="submit">
      </div>
    </form>
  </article>
  <aside>
    <div>
    <div class="card">
      <a href="/private">
        <div class="card-header">
          <center>
            <img src="/public/imgs/location.svg" alt="back">
          </center>
        </div>
        <div class="card-text">
          <h5>Back to Personal Page</h5>
        </div>
      </a>
    </div>
    </div>
  </aside>
</section>
<%- include('../common/footer') %>

</body>
</html>