<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>

    <%- include('../common/imports') %>

  <style>
    header{
      background-image: url('/public/imgs/bg/private.jpg');
    }
  </style>

  <link rel="stylesheet" href="/public/stylesheets/pickadate/default.css" />
  <link rel="stylesheet" href="/public/stylesheets/pickadate/default.date.css"/>
  <script type="text/javascript" src="/public/javascripts/pickadate/picker.js"></script>
  <script type="text/javascript" src="/public/javascripts/pickadate/picker.date.js"></script>

  <script type="text/javascript">

    function loadNewLocations(serviceId) {
          $.getJSON("/service/"+serviceId+"/location", function(result){
              console.log(result);
              var append = "";
              $.each(result.data, function (i, item) {
                  append+='<option value='+item.id+'>'+item.name+'</option>';
              });
              $("#location").empty().append(append).prop( "disabled", false );
          });
    }


    $(document).ready(function (){
        var now = new Date();
        var minDate = now.toISOString().substring(0,10);
        $('#date').prop('min', minDate);

        var defaultPage = $("#booking-form").children();


        // If they do not have HTML5 date then provide a datepicker using javascript
        if (!Modernizr.inputtypes.date) {
            $( "input[type=date]" ).pickadate({
                min: now
            });
       }

        $('body').on('click','#reserve-again', function() {
            $("#booking-form").empty().append(defaultPage);
        });

        $('#service').change(function () {
            $( this ).val() === "-1" ? $("#location").empty().append("<option>Choose a service</option>").prop( "disabled", true ) : loadNewLocations($( this ).val())
          }).change();


        $('body').on('submit','form', function() {
    //    $('form').submit(function(e) {
            if ($('#service').val() === "-1")
            {
                alert("Non mi freghi così");
                e.preventDefault();
                return;
            }

            $("#booking-form").empty().append("<div class='loading' style='transform:scale(0.31);'><div></div><div></div></div>");
            $.ajax({
                type: "POST",
                url: "/api/reservation",
                data: $(this).serialize(),
                success: function(data)
                {
                    $('#booking-form').empty().append("<a href='/private'>Go back</a><button id='reserve-again'>Do it again</button>");
                }
            });
            e.preventDefault();
        });

      });
  </script>

</head>
<body>
<%- include('../common/navbar', { page : '/private', user:user}) %>
<header>
</header>
<section class="two-sided" id="content">
  <center>
    <h1>Prenota la tua stupida visita</h1>
  </center>
  <article id="booking-form">

    <form>
      <div>
        <label for="date">Date: </label>

        <input type="date" id="date" name="date" placeholder="Date" min="2014-05-11" required>
      </div>
      <div>
        <label for="hour">Hour:</label>
        <select id="hour" name="hour">
          <option value="early_morning">Early Morning</option>
          <option value="late_morning">Late Morning</option>
          <option value="lunch">Lunch</option>
          <option value="early_afternoon">Early Afternoon</option>
          <option value="late_afternoon">Late Afternoon</option>
        </select>
      </div>
      <div>
        <label for="service">Service</label>
        <select id="service" name="service" required>
          <option value="-1">Choose a service</option>
            <%services.forEach((service) => {%>
              <option value="<%=service.id%>"><%=service.name%></option>
            <%})%>
        </select>
      </div>
      <div>
        <label>Location</label>
        <select id="location" name="location" disabled required>
          <option>Choose a service before</option>
        </select>
      </div>
      <input type="submit">

    </form>

  </article>
  <aside>
  </aside>
</section>
<%- include('../common/footer') %>

</body>
</html>