<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

      <%- include('../common/imports') %>

    <style>
      header{
        background-image: url('/public/imgs/bg/private.jpg');
      }
    </style>

  </head>
  <body>
  <%- include('../common/navbar', { page : '/private', user:user}) %>
  <header>
  </header>
    <section class="two-sided" id="content">
      <center>    <h1>Hi, <%=user.username%></h1>
      </center>
      <article>
        <h2>Welcome</h2>
        <h3>Your data:</h3>

        <h5>Username: <%=user.username%></h5>
        <h5>Name: <%=user.name%></h5>
        <h5>Mail: <%=user.mail%></h5>
        <h5>Surname: <%=user.surname%></h5>
        <h5>CF: <%=user.cf%></h5>
      </article>
      <aside>
        <button onclick="alert('ci credevi?')">PRENOTA!!!</button>
        <a href="/logout">Logout</a>
      </aside>
    </section>
  <%- include('../common/footer') %>

  </body>
</html>