<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

      <%- include('../common/imports') %>

  </head>
  <body>
  <%- include('../common/navbar', { page : '/private', user:user}) %>
  <header>
    <h1>Hi, <%=user.username%></h1>
  </header>
    <section class="two-sided" id="content">
      Username: <%=user.username%>, Name: <%=user.name%>, Surname: <%=user.surname%>, CF: <%=user.cf%>
    </section>
  <aside>
    <button onclick="alert('ci credevi?')">PRENOTA!!!</button>
    <a href="/logout">Logout</a>
  </aside>
  <%- include('../common/footer') %>

  </body>
</html>