<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
    <%- include('../common/imports') %>

  <style>
    header{
      background-image: url("<%=service.header%>");
    }

  </style>
  <script>
    $(document).ready(function(){
      $.ajax({
        dataType: 'json',
        url: '/api/doctor/<%= service.responsible %>'
      }).done(function(result) {
        $('#responsible a').attr('href', '/doctor/'+result['id']);
        $('#responsible a img').attr('src', result['icon']);
        $('#responsible a h5').html('Responsible: ' + result['fullname']);
      });
    });
  </script>
</head>
<body>
    <%- include('../common/navbar', { page : '/doctor', user:user}) %>

  <header>
    <div>
      <h1><%=service.name%></h1>
    </div>
  </header>

  <section class="two-sided" id="content">
    <article>

      <div class="row">
        <div class="col-sm-2">
          <div class="card" id="responsible">
              <a href="">
                  <div class="card-header">
                  <img class="card-image" src="/public/imgs/doctor.svg"/>
                  </div>
                  <h5 class="card-text"></h5>
              </a>
          </div>
        </div>
        <div class="col-sm-10">
          <div>
            <h2>Description</h2>
            <p><%=service.description%></p>
          </div>

          <div>
            <h2>Where?</h2>
            <% if(service.locations.length <= 0) { %>
            <p>This service is no available in any of our location.</p>
            <% } else { %>
            <ul>
                <% service.locations.forEach(location => { %>
                <li><a href="/location/<%= location.id %>"><%= location.name %></a></li>
                <% }); %>
            </ul>
            <% } %>
          </div>

          <div>
            <h2>Awards</h2>
            <p>TODO</p>
          </div>
        </div>
      </div>

    </article>

    <%- include('sidebar', { page : 'service' }) %>

  </section>

<%- include('../common/footer') %>
</body>
</html>