<aside>
    <div class="card">
        <a href="/area/<%= service.areaId %>">
            <div class="card-header">
            <img class="card-image" src="<%= service.area.icon %>"/>
            </div>
            <h4 class="card-text">in <i><%= service.area.name %></i></h4>
        </a>
    </div>

    <% if(page != 'operating-doctors') { %>
    <div class="card">
        <a href="/service/<%= service.id %>/operating-doctors">
            <div class="card-header">
            <img class="card-image" src="/public/imgs/doctor.svg"/>
            </div>
            <h5 class="card-text">Doctors operating in this service</h5>
        </a>
    </div>
    <% } %>

    <% if(page != 'service') { %>
    <div class="card">
        <a href="/service/<%= service.id %>">
            <div class="card-header">
            <img class="card-image" src="/public/imgs/service.svg"/>
            </div>
            <h5 class="card-text">Back to service description</h5>
        </a>
    </div>
    <% } %>

    <% if(page != 'instrumentations') { %>
    <div class="card">
        <a href="/service/<%= service.id %>/instrumentations">
            <div class="card-header">
            <img class="card-image" src="/public/imgs/instrumentations.svg"/>
            </div>
            <h5 class="card-text">Instrumentations</h5>
        </a>
    </div>
    <% } %>

</aside>
